<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIO Learning Management System</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand" href="http://18.234.140.174:5000/courses">AIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Admin Dashboard</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Welcome, Adminstrator!</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header-->
    <header class="bg-secondary py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"> Administrator Dashboard</h1>
                <p class="lead fw-normal text-white-50 mb-0"> Review Request, Assign Learners, Assign Trainers </p>
            </div>
        </div>
    </header>

    <br>
    <!-- Page 1: Admin View Course-->
    <div class="container" id="adminviewcourse">
        <!-- For Courses -->
        {% for courseInfo in courses %}
        <div class="row">
            <h4 class="col-md-9">{{courseInfo.course_id}}: {{courseInfo.title}}</h4>
            <button class="btn btn-info col-md-3" id="{{courseInfo.course_id}}" onclick="choosecourse(this.id)">View
                Classes</button>
            {% if courseInfo.is_retired == true %}
            <a>Status: Retired</a>
            {% else %}
            <a>Status: Active</a>
            {% endif %}
        </div>
        <hr />
        <br>
        {% endfor %}
    </div>


    <!-- Page 1: Admin View Class-->
    <div class="container" id="adminviewclass">
        <div id="miniadminnav">
            <button class="btn btn-info col-md-4" data-bs-toggle="modal" data-bs-target="#mymodal">Create Class</button>
            <button type="button" class="btn btn-secondary" id="gobackadmincourse" onclick="viewbackcourse()">Go
                Back</button>
            <br><br>
        </div>
        <br><br>
        <!-- For Classes of a Course -->
        {% for classInfo in classDetails %}

        <div class="row">
            <h4 class="item-title">{{classInfo[1]}}</h4>
            <button class="btn btn-info col-md-4" onclick="">View Self-Enrollment Requests for {{classInfo[1]}}</button>
        </div>
        <hr />
        <div class="row">
            <p style="font-size:19px" class="col-md-10"><span class="fw-bold">Trainer:</span> {{classInfo[2]}}</p>
            <button class="btn btn-info col-md-2" value="{{classInfo[1]}}"
                onclick="location.href='http://18.234.140.174:5000/assigntrainer/{{classInfo[0]}}/{{classInfo[1]}}'">Assign
                Trainer</button>
        </div>
        <br>
        <div class="row">
            <p style="font-size:19px" class="fw-bold col-md-1">Learners:</p>
            <div class="dropdown col-md-7">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    View Learners
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for learner in classInfo[3] %}
                    <li><a class="dropdown-item" href="#">{{learner}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <button class="btn btn-info col-md-2" id="{{classInfo[1]}}"
                onclick="location.href='http://18.234.140.174:5001/assignlearners/{{classInfo[0]}}/{{classInfo[1]}}'">Assign
                Learners</button>
            <button class="btn btn-danger col-md-2" onclick="">Withdraw Learners</button>
        </div>
        <br><br><br><br>

        {% endfor %}

    </div>

    <!-- Assign Trainer Form -->
    <div class="container" id="assigntrainerform">
        <div id="miniadminnav_assignlearner">
            <button type="button" class="btn btn-secondary" id="gobackclass">Go Back</button>
            <br><br>
        </div>
        <div id="insert-alert-div">
        </div>
        <div>
            <form>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label for="classID" class="form-label"> <b>Course</b></label>
                        <p id="courseid">{{writecourseid}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label for="classID" class="form-label"> <b>Class</b></label>
                        <p id="classid">{{writeclassid}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label for="currentDate" class="form-label"><b>Class Start Date</b></label>
                        <p><span id='class_start_date_time'></span>{{writestartdate}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label for="currentDate" class="form-label"><b>Class End Date</b></label>
                        <p><span id='class_end_date_time'></span>{{writeenddate}}</p>
                    </div>
                </div>
                <div class="row col-xs-8 col-sm-8 col-md-8">
                    <label for="trainerName" class="form-label"><b>Trainer's Name </b></label>
                    <div class="input-group mb-3 ">
                        <div class="input-group-prepend">
                            <button class="btn btn-info" type="button" data-bs-toggle="modal"
                                data-bs-target="#assignTrainerModal">Select Trainer</button>
                        </div>
                        <input type="text" class="form-control" placeholder="Select an available trainer..."
                            aria-label="name of trainer" id="trainer_name_username" readonly>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-info" type="button" onclick="confirm_assign_trainer()">Assign
                        Trainer</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Assign Trainer Modal -->
    <div class="modal fade" id="assignTrainerModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">List of Trainers</h5>
                </div>
                <div class="modal-body" style="overflow-x: auto;">
                    <table class="table table-condensed" id="assignTrainerTable">
                        <thead class="table-info">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Current Classes</th>
                                <th>Total Classes</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="trainers-list">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Create Class Form-->
    <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Class</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">
                            <label>Course ID:</label>
                            <input type="text" class="form-control" name="course_id" required="1">
                        </div>

                        <div class="form-group">
                            <label>Class ID</label>
                            <input type="text" class="form-control" name="class_id" required="1">
                        </div>
                        <div class="form-group">
                            <label>Trainer Username</label>
                            <input type="text" class="form-control" name="trainer_username" required="1">
                        </div>
                        <div class="form-group">
                            <label>Trainer Name</label>
                            <input type="text" class="form-control" name="trainer_name" required="1">
                        </div>

                        <div class="form-group">
                            <label>Start date time</label>
                            <input type="text" class="form-control" name="start_date_time" required="1">
                        </div>
                        <div class="form-group">
                            <label>End Date time</label>
                            <input type="text" class="form-control" name="end_date_time" required="1">
                        </div>

                        <div class="form-group">
                            <label>Class size</label>
                            <input type="int" class="form-control" name="class_size" required="1">
                        </div>
                        <div class="form-group">
                            <label>Class available slots</label>
                            <input type="int" class="form-control" name="class_available_slots" required="1">
                        </div>
                        <br><br>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Add Details</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Assign Learner-->
    <div class="container" id="learnerassigntable">
        <div id="miniadminnav_assignlearner">
            <button type="button" class="btn btn-secondary" id="gobackclass">Go Back</button>
            <br><br>
        </div>
        <!-- Available Learner Table -->
        <table class="table table-condensed" id="assignLearnerTable">
            <thead class="table-info">
                <tr>
                    <th>Learner ID</th>
                    <th>Learner Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for learnerInfo in learners %}
                <tr>
                    <td class="nr">{{learnerInfo.username}}</td>
                    <td>{{learnerInfo.name}}</td>
                    <td> <button type="button" id="learnerid" class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#assignLearnerModal">Select </button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>



    <br><br>

    <!-- Footer-->
    <footer class="py-5">
        <div class="container">
            <p class="m-0 text-center text-black"> &copy; Developed By SPM G9 Team 5</p>
        </div>
    </footer>

    <script>
        /*
        //sessionStorage.clear();
        function choosecourse(course_id) {
            courseiden = course_id;
            sessionStorage.coursesession = courseiden;
            window.location.replace("http://18.234.140.174:5000/classes/" + sessionStorage.coursesession);
            $("#adminviewcourse").hide();
            $("#assigntrainerform").hide();
            $("#adminviewclass").show();
            $("#miniadminnav").show();
        }
        

        function chooseclass(class_id) {
            classiden = class_id;
            sessionStorage.coursesession = classiden;
            window.location.replace("http://18.234.140.174:5001/classes/" + sessionStorage.coursesession);
            $("#adminviewcourse").hide();
            $("#assigntrainerform").hide();
            $("#adminviewclass").show();
            $("#miniadminnav").show();

        }
        function assignlearnerbtn(claas_id) {
            classiden = class_id;
            sessionStorage.classsession = classiden;
            window.location.replace("http://18.234.140.174:5000/learners/" + sessionStorage.coursesession);
            $("#adminviewcourse").hide();
            $("#adminviewclass").hide();
            $("#miniadminnav").hide();
            $("#learnerassigntable").hide();
            $("#assigntrainerform").hide();

        }

        function assigntrainerbtn() {


            //var resultsclass=$("h4.item-title").text();
            //sessionStorage.classsession=resultsclass;

            $("#adminviewcourse").hide();
            $("#adminviewclass").hide();
            $("#miniadminnav").hide();
            $("#learnerassigntable").hide();
            $("#assigntrainerform").show();

            document.getElementById("courseid").innerHTML = sessionStorage.coursesession;
            document.getElementById("classid").innerHTML = sessionStorage.classsession;
        }

        $("#assigntrainerbtn").click(function () {

            //window.location.replace("18.234.140.174:5000/learners/"+sessionStorage.getItem("courseidensession"));
            $("#adminviewcourse").hide();
            $("#adminviewclass").hide();
            $("#miniadminnav").hide();
            $("#learnerassigntable").hide();
            $("#assigntrainerform").show();
        })
        $("#assignlearnerbtn").click(function () {
            classiden = $(this).val();
            sessionStorage.classidensession = classiden;
            window.location.replace("18.234.140.174:5000/learners/" + sessionStorage.coursesession);
            $("#adminviewcourse").hide();
            $("#adminviewclass").hide();
            $("#miniadminnav").hide();
            $("#learnerassigntable").hide();
            $("#assigntrainerform").hide();
        })


        var courseiden = "";
        var classiden = "";
        $(document).ready(function () {
            var url = window.location.href;
            var parts = url.split("/");
            var last_part = parts[parts.length - 2];
            var longPath = window.location.pathname;
            var pathStrSplit = longPath.split('/');
            var second_part = pathStrSplit[1];


            if (url == "http://18.234.140.174:5000/courses") {
                $("#miniadminnav").hide();
                $("#learnerassigntable").hide();
                $("#assigntrainerform").hide();

            } else if (last_part == "classes") {
                $("#learnerassigntable").hide();
                $("#assigntrainerform").hide();
            } else if (last_part == "learners") {
                $("#miniadminnav").hide();
                $("#assigntrainerform").hide();
            } else if (second_part == "assigntrainer") {
                $("#adminviewcourse").hide();
                $("#adminviewclass").hide();
                $("#miniadminnav").hide();
                $("#learnerassigntable").hide();
                $("#assigntrainerform").show();
            }

        });

        //back to admin view course 
        $("#gobackadmincourse").click(function () {
            window.location.replace("http://18.234.140.174:5000/courses");
            $("#adminviewcourse").show();
            $("#adminviewclass").hide();
            $("#miniadminnav").hide();
            $("#assigntrainerform").hide();
        })




        $("#gobackclass").click(function () {
            window.location.replace("http://18.234.140.174:5000/classes/" + sessionStorage.coursesession);
            $("#adminviewcourse").hide();
            $("#adminviewclass").show();
            $("#miniadminnav").show();
            $("#assigntrainerform").hide();
        })



        $("#selecttrainerbtn").click(function () {

            window.location.replace("http://18.234.140.174:5000/assign_trainer/json/" + sessionStorage.coursesession + "/" + sessionStorage.classidensession);

        })
        */

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>

</html>