<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIO Learning Management System</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
            <a class="navbar-brand" href="#">AIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        </div>
    </nav>


    <!-- Section-->
    <div class="container" id="test">
        <br><br>


        <h1> AIO Login System </h1>

        <br><br>
        <div class="row">
            <h3>Learners</h3>
            <div class="col col-2">

                <button class="btn btn-info"
                    onclick="location.href='http://18.234.140.174:5007/view_enrolled_courses/JohnSmithTheMan'">Enrolled
                    Courses</button>
            </div>
            <div class="col col-2">
                <button class="btn btn-info"
                    onclick="location.href='http://18.234.140.174:5007/view_completed_courses/JohnSmithTheMan'">Completed
                    Courses</button>
            </div>
            <div class="col col-2">
                <button class="btn btn-info"
                    onclick="location.href='http://18.234.140.174:5010/view_eligible_courses/JohnSmithTheMan'">
                    Eligible Courses</button>
            </div>
            <div class="col col-2">
                <button class="btn btn-info"
                    onclick="location.href='http://18.234.140.174:5007/view_pending_courses/JohnSmithTheMan'">Pending
                    Courses</button>
            </div>

        </div>


        <div class="row">
            <h3>Trainer</h3>
            <div class="col col-2">
                <button class="btn btn-info" onclick="location.href='http://18.234.140.174:5006/create_quizzes'">Create
                    Quiz</button>
            </div>



        </div>
        <div class="row">
            <h3>Admin</h3>
            <div class="col col-2">
                <button class="btn btn-info" onclick="location.href='http://18.234.140.174:5000/courses'">Manage
                    Courses</button>
            </div>

        </div>



    </div>


    <br><br>
    <!-- Footer-->
    <footer class="py-5">
        <div class="container">
            <p class="m-0 text-center text-black"> &copy; Developed By SPM G9 Team 5</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>

</html>